* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Serif 4", sans-serif;
}

.signup hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
body{
background: url('/img/BackgroundRegister.png') no-repeat;
    background-size: cover;
    color: black;
}

/* Clear floats */
.clearfix::after {
  clear: both;
  display: table;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #ffffff;
}

/* Add a background color when the inputs get focus */
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: rgb(241, 241, 241);
  outline: none;
}

.clearfix button:hover {
  opacity: 1;
}
