<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/paymentpage.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
    <br>
    <div class="color">
        <div class="header">
            <img src="/img/logo.png" alt="">
            <h2> iProducts Transaction Page</h2>
        </div>
        <br>
        <hr>

        <div class="form-container">
            <div class="form-row">
                <div id="form-column">
                    <label for="product-name">Product Name:</label>
                </div>
                <div id="form-column-2">
                    This is where text will be.
                </div>
            </div>
            <div class="form-row">
                <div id="form-column">
                    <label for="product-name">Price:</label>
                </div>
                <div id="form-column-2">
                    This is where text will be.
                </div>
            </div>
            <div class="form-row">
                <div id="form-column">
                    <label for="product-name">Quantity:</label>
                </div>
                <div id="form-column-2">
                    This is where text will be.
                </div>
            </div>
        </div>
        <hr>
        <div class="form-container">
            <div class="form-row">
                <div id="form-column">
                    <label for="product-name">Product Name:</label>
                </div>
                <div id="form-column-2">
                    This is where text will be.
                </div>
            </div>
            <div class="form-row">
                <div id="form-column">
                    <label for="product-name">Price:</label>
                </div>
                <div id="form-column-2">
                    This is where text will be.
                </div>
            </div>
            <div class="form-row">
                <div id="form-column">
                    <label for="product-name">Quantity:</label>
                </div>
                <div id="form-column-2">
                    This is where text will be.
                </div>
            </div>
        </div>
        <hr>
        <div class="form-container">
            <div class="form-row">
                <div id="form-column">
                    <label for="product-name">Total Price: </label>
                </div>
                <div id="form-column-2">
                    This is where text will be.
                </div>
            </div>
        </div>
        <hr>
        <div class="form-container">
            <form th:action="@{~/}" th:method="POST" th:object="${}">
                <h2>Payment Method</h2>
                <br>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" th:text="*{paymentmethod}"> Cash on Delivery</input>
                    </label>
                    <br><br>
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" th:text="*{paymentmethod}"> Credit/Debit Card</input>
                    </label>
                </div>
    
    
                <br><br>
                <div class="form-group">
                    <div class="form-group">
                        <label for="card-num">Card Number:</label>
                    </div>
                    <div id="form-column-3">
                        <input type="text" class="form-control" id="card-num" th:field="*{card-num}">
                    </div>
                </div>
                <div class="form-group">
                    <div id="form-column">
                        <label for="cvv">CVV: </label>
                    </div>
                    <div id="form-column-3">
                        <input type="text" class="form-control" id="cvv" th:field="*{cvv}">
                    </div>
                </div>
                <div class="form-group">
                    <div id="form-column">
                        <label for="exp">Expiration Date: </label>
                    </div>
                    <div id="form-column-3">
                        <input type="text" class="form-control" id="exp" th:field="*{exp}">
                    </div>
                </div>
                <br><br>
                <div>
                    <a th:href="@{/index.html}" class="btn btn-danger" role="button">Back</a>
                    <button type="submit" class="btn btn-success" id="addproduct-btn">Place Order</button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>