<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>

  <body>
    <!--Navbar-->
    <nav class="navbar"></nav>

    <!-- hero section -->
    <header class="hero-section">
      <div class="content">
        <p class="sub-heading"></p>
      </div>
    </header>

    <!-- cards-container -->

    <section class="product">
      <h2 class="product-category">best selling</h2>

      <button class="pre-btn"><img src="/img/arrow.png" alt="" /></button>
      <button class="nxt-btn"><img src="/img/arrow.png" alt="" /></button>

      <!--inside products section-->
      <div class="product-container">
        <div class="product-card">
          <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="/img/laptop1.jpg" class="product-thumb" alt="" />
            <button class="card-btn">add to wishlist</button>
          </div>
          <div class="product-info">
            <h2 class="product-brand">brand</h2>
            <p class="product-short-des">Description</p>
            <span class="price">PHP25000</span
            ><span class="actual-price">PHP50000</span>
          </div>
        </div>
        <div class="product-card">
          <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="/img/laptop2.jpg" class="product-thumb" alt="" />
            <button class="card-btn">add to wishlist</button>
          </div>
          <div class="product-info">
            <h2 class="product-brand">brand</h2>
            <p class="product-short-des">Description</p>
            <span class="price">PHP25000</span
            ><span class="actual-price">PHP50000</span>
          </div>
        </div>
        <div class="product-card">
          <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="/img/laptop3.jpg" class="product-thumb" alt="" />
            <button class="card-btn">add to wishlist</button>
          </div>
          <div class="product-info">
            <h2 class="product-brand">brand</h2>
            <p class="product-short-des">Description</p>
            <span class="price">PHP25000</span
            ><span class="actual-price">PHP50000</span>
          </div>
        </div>
        <div class="product-card">
          <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="/img/laptop4.jpg" class="product-thumb" alt="" />
            <button class="card-btn">add to wishlist</button>
          </div>
          <div class="product-info">
            <h2 class="product-brand">brand</h2>
            <p class="product-short-des">Description</p>
            <span class="price">PHP25000</span
            ><span class="actual-price">PHP50000</span>
          </div>
        </div>
        <div class="product-card">
          <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="/img/laptop5.jpg" class="product-thumb" alt="" />
            <button class="card-btn">add to wishlist</button>
          </div>
          <div class="product-info">
            <h2 class="product-brand">brand</h2>
            <p class="product-short-des">Description</p>
            <span class="price">PHP25000</span
            ><span class="actual-price">PHP50000</span>
          </div>
        </div>
        <div class="product-card">
          <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="/img/laptop6.jpg" class="product-thumb" alt="" />
            <button class="card-btn">add to wishlist</button>
          </div>
          <div class="product-info">
            <h2 class="product-brand">brand</h2>
            <p class="product-short-des">Description</p>
            <span class="price">PHP25000</span
            ><span class="actual-price">PHP50000</span>
          </div>
        </div>
      </div>
    </section>

    <!-- collections -->
    <section class="collection-container">
      <a href="#" class="collection">
        <img src="/img/Background_Laptop.png" alt="" />
        <p class="collection-title">Laptop & <br />Computers</p>
      </a>
      <a href="#" class="collection">
        <img src="/img/Background_Phone.png" alt="" />
        <p class="collection-title">Smartphone</p>
      </a>
      <a href="#" class="collection">
        <img src="/img/Background_Blender2.png" alt="" />
        <p class="collection-title">
          Home <br />
          Appliances
        </p>
      </a>
    </section>
    <hr />

    <!--Footer-->
    <footer></footer>

    <script th:src="@{/js/nav.js}"></script>
    <script th:src="@{/js/footer.js}"></script>
    <script th:src="@{/js/home.js}"></script>
  </body>
</html>
